{% extends 'base.html.twig' %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}
{% block title %}
    Аутентификация
{% endblock %}

{% block body %}
    <h1>Аутентификация</h1>

{% endblock %}